.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 10vh;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes stretch {
  0% {
    transform: scale(.6);
    border-radius: 100%;
  }
 
  100% {
    transform: scale(1.5);
  }
}

.table {
  text-align: center;
}

.edcMap {
  height: 100%;
  width: 100%;
  border: 7px solid white;
  
}

.waterStation {
  border-radius: 50%;
  border: 1vpx solid purple;
  height: 40px;
  width: 40px;
  bottom: 0;
  z-index: 2px;
  text-align: center;
  vertical-align: center;
  font-size: 2em;
  position: absolute;
  background-color: white;
  animation-name: stretch;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

#waterstation1 {
  top: 51%;
  left: 33%;
}
#waterstation2 {
  top: 36%;
  left: 45%;
}
#waterstation3 {
  top: 21%;
  left: 53%;
}
#waterstation4 {
  top: 47%;
  left: 62%;
}